
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center" style="cursor: pointer;" id="companyLinkBtn">
            <div class="card-body">
                <div class="avatar bg-light-info p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="award" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=companyCnt%></h2>
                <p class="card-text">사업부</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <div class="avatar bg-light-warning p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="users" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=userCnt%></h2>
                <p class="card-text">가입자</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center" style="cursor: pointer;" id="jobLinkBtn">
            <div class="card-body">
                <div class="avatar bg-light-danger p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="shopping-bag" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=jobCnt%></h2>
                <p class="card-text">일자리</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center" style="cursor: pointer;" id="businessLinkBtn">
            <div class="card-body">
                <div class="avatar bg-light-primary p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="smartphone" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=workCnt%></h2>
                <p class="card-text">일거리</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center" style="cursor: pointer;" id="albaLinkBtn">
            <div class="card-body">
                <div class="avatar bg-light-success p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="circle" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=albaCnt%></h2>
                <p class="card-text">알바</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center" style="cursor: pointer;" id="sellCompanyLinkBtn">
            <div class="card-body">
                <div class="avatar bg-light-danger p-50 mb-1">
                    <div class="avatar-content">
                        <i data-feather="figma" class="font-medium-5"></i>
                    </div>
                </div>
                <h2 class="fw-bolder"><%=sellCompanyCnt%></h2>
                <p class="card-text">사업부 매각</p>
            </div>
        </div>
    </div>
